<p>Greetings This Is Clothey</p>
<p>It appears that you forgot your password.</p>
<p> This Code is for reseting your password.</p>

<p>{{ reset_code }}</p>

<p>This code expires after 10 minutes.</p>

<p>If you did not request this email you can safely ignore it.</p>